@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

$theme-color: linear-gradient(rgb(7, 91, 130), rgb(8, 119, 166));
$spacing: 10px !default;
$font: "Poppins", sans-serif !default;
