@import "variables";
@import "mixins";

html {
  background: $bg-color;
  height: 100%;
}

.App {
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-family: $font;

  h1, h4, p, .mid-label {
    @include highlight();
  }

  label {
    color: rgb(25, 221, 228);
  }
}

.converter {
 @include padContainer(5px, 25px);

 input {
   align-self: start;
   margin: 20px;
 }
}